<html>  
    <head><title>Home</title></head>
<body>
    <h1>วัดพระปฐมเจดีย์ราชวรมหาวิหาร</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/tech">Tech</a></li>
        <li><a href="/myid">MyID</a></li>
        <li><a href="/draw/3">Draw</a></li>
    </ul>
    <img src="static/picc1.jpg"alt='วัดพระปฐมเจดีย์ราชวรมหาวิหาร'>
    <div>
        <pre>
                ปูชนียสถานสำคัญของประเทศไทย ที่โดดเด่นเป็นสง่าอยู่ใจกลางเมืองนครปฐม ‘วัดพระปฐมเจดีย์ราชวรมหาวิหาร’ พระอารามหลวงชั้นเอก ชนิดราชวรมหาวิหาร 
            ซึ่งมีประวัติความเป็นมายาวนานในแผ่นดินสุวรรณภูมิ และเป็นที่ประดิษฐานพระบรมสารีริกธาตุขององค์พระโคตมพุทธเจ้า ลักษณะเป็นพระเจดีย์ใหญ่ รูประฆังคว่ำ ปากผายมหึมา 
            โครงสร้างเป็นไม้ซุงรัดด้วยโซ่เส้นมหึมาก่ออิฐถือปูน ประดับด้วยกระเบื้องปูทับ มีวิหาร 4 ทิศ กำแพงแก้ว 2 ชั้น เป็นที่เคารพสักการบูชาของบรรดาพุทธศาสนิกชนทั่วโลก
            พระปฐมเจดีย์ เดิมเรียกว่า ‘พระธมเจดีย์’ มีฐานะเป็นมหาธาตุหลวงของแผ่นดินสุวรรณภูมิ พระบาทสมเด็จพระจอมเกล้าเจ้าอยู่หัว (รัชกาลที่ 4) มีพระราชวินิจฉัยว่า 
            พระธมเจดีย์องค์นี้อาจสร้างขึ้นเมื่อคราวพระสมณทูตในพระเจ้าอโศกมหาราช เดินทางมาเผยแผ่ศาสนายังสุวรรณภูมิก็เป็นได้ เพราะพระเจดีย์เดิมมีลักษณะทรงโอคว่ำ 
            แบบเดียวกับพระสถูปสาญจี แต่ปรากฏว่ามียอดเป็นแบบปรางค์ ซึ่งพระองค์ฯ มีพระราชวินิจฉัยว่า อาจมีเจ้านายพระองค์ใดมาบูรณะไว้ก็เป็นได้ ทั้งนี้จึงพระราชทานนามใหม่ว่าพระปฐมเจดีย์ 
            ด้วยทรงเชื่อว่านี่คือเจดีย์แห่งแรกของสุวรรณภูมิ และในทุกปีทางวัดได้จัดให้มีงานเทศกาลนมัสการองค์พระปฐมเจดีย์ ในวันขึ้น 12 ค่ำ เดือน 12 ถึง วันแรม 5 ค่ำ เดือน 12 รวมทั้งหมดเป็นเวลา 9 วัน 9 คืน 
            ให้ประชาชนได้มากราบไหว้เพื่อความเป็นสิริมงคล พร้อมชมความงดงามขององค์พระปฐมเจดีย์แห่งนี้กันอย่างทั่วถึง สามารถเข้าชมได้ตั้งแต่เวลา 7.00 - 18.00น
        </pre>
    </div>
</body>
</html>