<html>
    <head><title>Tech</title></head>
    <body>
        <h1>Natural Language Processing (NLP)</h1>
        <pre>
                การประมวลผลภาษาธรรมชาติ หรือ Natural Language Processing (NLP) เป็นหนึ่งในแขนงของปัญญาประดิษฐ์ (Artificial Intelligence) และภาษาศาสตร์คอมพิวเตอร์ (Computational Linguistics)
            ที่เน้นการโต้ตอบสื่อสาร (interact) ระหว่างคอมพิวเตอร์และมนุษย์ โดยใช้เทคนิคและวิธีการต่างๆ เพื่อให้คอมพิวเตอร์สามารถเข้าใจ ตีความ และสร้างผลลัพธ์ที่มีความหมายและเป็นประโยชน์
        </pre>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/tech">Tech</a></li>
            <li><a href="/myid">MyID</a></li>
            <li><a href="/draw/3">Draw</a></li>
        </ul>
    </body>
</html>